

<%= form_for [@practice, @connection] do |f| %>
<div class="row">
  <div class="small-3 columns extra-pad">
    <%= f.label :practice %>
  </div>
  <div class="small-9 columns">
    <%= f.collection_select :target_id, @all_pracs, :id, :office_name, include_blank: true %></br> 
  </div>  
</div>

<br />
 <div class="row">
    <div class="small-9 small-centered columns">
    <%= f.submit "Send Connection Request", :class =>'tiny button centered' %>
    </div>
  </div>


<% end %>

