<div class="large-2 columns bor">
  <ul class="side-nav fix-nav">
    <% binding.pry %>
    <li class="active"><%= link_to 'Practice', practice_path(@practice) %></li>
    <li><%= link_to 'Appointments', practice_appointments_path(@practice) %></li>
    <li><%= link_to 'Referrals',doctor_referrals_path(@practice) %></li>
  </ul>

</div>
