<div class="large-2 columns bor">
  <ul class="side-nav fix-nav">
    <li class="active"><%= link_to 'Practice', practice_path(current_practice) %></li>
    <li><%= link_to 'Appointments', practice_appointments_path(current_practice) %></li>
    <li><%= link_to 'Referrals',doctor_referrals_path(current_practice) %></li>
  </ul>

</div>
