
<div class="container">
  <div>
    <h1>Home Page</h1>
  </div>
  <div> 


    <% if signed_in? %>
      <%= link_to "Send Invite",new_user_invitation_path %>
    <% end %>


  </div> 


</div>



<%= link_to 'Sign up', new_user_registration_path %>

