<div class="large-7 columns bor">
  <h1>Current Practice Patients </h1>
  <div class="large-6 columns">
      <table class="full_width">
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
      </tr>
      <% @patients.each do |patient| %>
        <tr>
          <td><%= patient.full_name %></td>
          <td><%= link_to "Show", practice_patient_path(current_user,patient), remote: true %></td>
        </tr>

      <% end %>

    </table>
  </div>
  <div class="large-6 columns">
    <div id="appoint-holder"></div>

  </div>

</div>
<div class="large-3 columns bor">
  <%= render :partial => 'patients/form' %>


</div>

