

  <div class="large-10 columns bor">
    <h3><%= @practice.office_name %></h3>
    <h4>Referrals</h4>
    <div id="chart"><h5>Received</h5></div>
  </div>

<%= content_for :extra_footer do %>
  <script>

  </script>
<% end %>
