/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require foundation_and_overrides
 */
 


.bor {

  border: 1px solid;
}

.full_width {
  width:100%;
  min-width:100%;
}


body {
    background: url("https://d3awrefyh2q0ta.cloudfront.net/../assets/background-texture.jpg") repeat scroll 0 0 #EDEDE5;
    color: #888880;
    font: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.date_style {

}

.extra-pad {
  padding-top:3px;
}
.button-margin{
  margin-top:15px !important;
  margin-bottom:5px !important;
}
