<div class="large-7 columns">
  <h2 class="top-head">Appointments</h2>
  <%= render 'appointments' %>

<% if current_user.role =="practice_admin" %>
  <div class="large-3 columns side-bor">
    <h4>Schedule an Appointment</h4>
    <%= render :partial => 'appointments/form' %>
  </div>
<% end %>


